@{
    ViewData["Title"] = "Privacy Policy";

    var userId = ViewBag.UserId;
    var perfilId = ViewBag.PerfilId;

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

